/* font-family: 'Open Sans', sans-serif; */
body{
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 20px;
    
}

header{
    background-color: rgb(56, 42, 148);
    padding: 1em 0;
}

header h1{
    color: white;
    font-size: 2.5 em;
    font-style: italic;
    font-weight: 100;
    display: inline-block;
    position: relative; 
    bottom: 30px;
}

nav{
   background-color: rgba(110, 154, 250, 0.788); 
   margin-bottom: 2em ;
   
}

nav ul{
    list-style: none; 
    margin: 0;
    padding: 0;
    
}

nav ul li {
    display: inline-block;
    width: 16.3%;
}

nav ul li a {
    color: white;
    text-align: center;
    text-decoration: none;
    display: block;
    padding: 0.2em; /*0.4em; */
}

nav ul li a.activo{
    background-color: rgba(95, 86, 143, 0.342);
}

nav ul li a:hover{
    background-color: rgba(75, 65, 138, 0.342);
}

footer{
    background-color: rgb(227, 227, 228);
    color: rgb(51, 49, 49);
    text-align: center;
    padding: 3em;
    margin-top: 2em;
    clear:both; 
    font-size: 0.8em;
}

.holder{
    max-width: 960px;
    margin: 0 auto;
}

h2{
   color: #2e64a1; 
   font-weight: 400;
   /* margin: 0 0 1em; */
}

.izquierda{
   float: left;
}

.derecha{
   float: right;
}

/* Contenido Main */

.img_home{
    margin-bottom: 1.5em;
}

.columnas{
    overflow: hidden;
}

.bienvenidos, .testimonios {
     box-sizing: border-box;
}

.bienvenidos {
    width: 75%;
    padding-right: 2em;
} 

.testimonios {
    width: 25%;
}  

.testimonio {
    background-color: rgb(202, 199, 199);
    padding: 1em;
}
.testimonio .cita {
    font-weight: bold;
    font-style: italic;
    font-size: 1.4em;
    display: block;
}

.testimonio .autor {
    font-size: 0.7em;
    text-align: center;
    margin: 1em;
    display: block;
}

/* Fin Home */

/* Inicio Nosotros */

.historia p {
    font-size: 0.8em;
}
.personas {
    overflow: hidden;
}

.persona {
  width: 18%;
  border: 1px solid rgb(190, 190, 190);
  border-radius: 0.25em;
  float: left;
  margin-left: 2.25%;
  box-sizing: border-box;
  text-align: center;
}

.persona img {
    border-radius: 50%;
    box-shadow: 0 0 5px gray;
    margin: 1em 0 1em;
    max-width: 70%;
}

.persona h5, .persona h6 {
    text-align: center;
    font-weight: normal;
    color: #2e64a1;
    margin: 0%;
}

.persona h5 {
    font-size: 0,9em;
}
.persona h6 {
    font-style: italic;
    font-size: 0,8em;
}
.persona p {
    font-size: 0.7em;
    margin: 0 1em 1em;
}

.persona:first-child{
    margin-left: 0;
}

/* Fin Nosotros */

/* Inicio Servicios */

.servicio {
    border: 1px solid rgb(190, 190, 190);
    border-radius: 6px;
    margin: 1em 0;
    padding: 1em;
    overflow: hidden;
}  
 
.servicio .info{
     width: 75%;
}

.servicio .info h4 {
    color: #2e64a1;
    font-size: 1.2em;
    font-style: italic;
    font-weight: 500;
    margin: 0 0 1em;
    border-bottom: 1px solid #2e64a1;
    padding-bottom: 0.5em;
}

.servicio .info p {
    font-size: 0.8em;
    line-height: 1.2em;
}

.servicio img {
    border-radius: 0.8em;
}

.servicio:nth-child(even) img{
    float: right;
    margin: 0 0 0 1em;
}

.servicio:nth-child(even) .info{
    float: left;
}

.servicio:nth-child(odd) img{
    float: left;
}

.servicio:nth-child(odd) .info{
    float: right;
    margin: 0 1em 0 0;
}
/* Fin servicios */